openapi: 3.2.0
info:
  title: Notch API (unreconciled capability model) Payment Methods…
  description: Capability model of the Notch (notch.financial) accounts-receivable / accounts-payable automation platform for the food and beverage and wholesale distribution industry.
  contact:
    name: Notch
    url: https://www.notch.financial
  version: 0.0.0-unreconciled
servers:
- url: https://api.notch.financial
  description: Placeholder base URL. Notch does not document a public API base URL; this value is illustrative and unverified.
security:
- bearerAuth: []
tags:
- name: Payment Methods
paths:
  /payment-methods:
    get:
      operationId: listPaymentMethods
      tags:
      - Payment Methods
      summary: List stored payment methods (unreconciled)
      responses:
        '200':
          description: A list of payment methods.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
    post:
      operationId: createPaymentMethod
      tags:
      - Payment Methods
      summary: Store a payment method (unreconciled)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethod'
      responses:
        '201':
          description: Payment method stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
components:
  schemas:
    PaymentMethod:
      type: object
      description: A stored payment method (illustrative).
      properties:
        id:
          type: string
        customer_id:
          type: string
        type:
          type: string
          enum:
          - card
          - bank_account
        brand:
          type: string
          enum:
          - visa
          - mastercard
          - amex
        last4:
          type: string
        is_default:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Illustrative Bearer API key scheme. Notch's actual authentication mechanism is not publicly documented and is unverified.
