openapi: 3.0.1
info:
  title: Notch API (unreconciled capability model) Bank Accounts Payments API
  description: 'Capability model of the Notch (notch.financial) accounts-receivable / accounts-payable automation platform for the food and beverage and wholesale distribution industry.

    IMPORTANT: Notch states an API is available for integration, but as of 2026-06-21 it does NOT publish a public developer reference, OpenAPI document, base URL, or authentication guide. This specification is an UNRECONCILED model derived from documented product capabilities (invoices/bills, payment collection and processing, customer payment portals, stored card and EFT/ACH payment methods, bank accounts, and accounting/ERP data sync). Paths, schemas, server URL, and the Bearer authentication scheme below are illustrative placeholders and are NOT confirmed against an official Notch specification. Do not treat them as production contracts. Reconcile against Notch''s developer documentation when it becomes publicly available.

    Disambiguation: not Notch Pay (notchpay.co), not notch.cx, and not the Notch restaurant ordering platform.'
  contact:
    name: Notch
    url: https://www.notch.financial
  version: 0.0.0-unreconciled
servers:
- url: https://api.notch.financial
  description: Placeholder base URL. Notch does not document a public API base URL; this value is illustrative and unverified.
security:
- bearerAuth: []
tags:
- name: Payments
paths:
  /payments:
    get:
      operationId: listPayments
      tags:
      - Payments
      summary: List payments (unreconciled).
      responses:
        '200':
          description: A list of payments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
    post:
      operationId: createPayment
      tags:
      - Payments
      summary: Collect or record a payment (unreconciled).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '201':
          description: Payment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  /payments/{paymentId}:
    get:
      operationId: getPayment
      tags:
      - Payments
      summary: Retrieve a payment (unreconciled).
      parameters:
      - $ref: '#/components/parameters/paymentId'
      responses:
        '200':
          description: A payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
components:
  parameters:
    paymentId:
      name: paymentId
      in: path
      required: true
      schema:
        type: string
  schemas:
    Payment:
      type: object
      description: A payment collected against one or more invoices (illustrative).
      properties:
        id:
          type: string
        customer_id:
          type: string
        invoice_id:
          type: string
        amount:
          type: number
        currency:
          type: string
          example: USD
        method:
          type: string
          enum:
          - card
          - eft
          - ach
        status:
          type: string
          enum:
          - pending
          - processing
          - succeeded
          - failed
          - refunded
        autopay:
          type: boolean
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Illustrative Bearer API key scheme. Notch's actual authentication mechanism is not publicly documented and is unverified.
